<?xml version="1.0" ?>

<launch>
  <arg name="dir" default="$(env FERRET_LOG_DIR)"/>

  <node name="rosbag_record" pkg="rosbag" type="record" respawn="true"
        args="-o $(arg dir)/scan_bag
                  /scan
                  /tf
                  /diagnostics
                  /executive_comments
                  /imu/data
                  /imu/diagnostics
                  /imu/time_reference
                  /rosout
                  /rosout_agg
                  /executive/response
                  /executive/start
                  /executive/command
                  /led_pwm
                  /node/status
                  /roboteq/cmd
                  /roboteq/rotator
                  /camera/exposure
                  /camera/shutter
                  /camera/reset
                  /camera/gain
                  /camera/brightness
                  /camera/frame_rate
                  /camera/image_color"/>

</launch>
