<?xml version="1.0" ?>

<launch>
  <arg name="dir" default="$(env FERRET_LOG_DIR)"/>

  <node name="rosbag_record" pkg="rosbag" type="record" respawn="true"
        args="-o $(arg dir)/background_bag --lz4
                  /tf
                  /diagnostics
                  /executive_comments
                  /rosout
                  /rosout_agg
                  /executive/response
                  /executive/start
                  /executive/command
                  /executive/img_trigger
                  /led_pwm
                  /node/status
                  /roboteq/cmd
                  /camera/exposure
                  /camera/shutter
                  /camera/reset
                  /camera/gain
                  /camera/brightness
                  /camera/frame_rate"/>
</launch>
