<launch>

    <arg name="frame_id_imu"   default="imu"/>
    <arg name="frame_id_laser" default="laser"/>

    <!-- Static transform from laser source to centerline of rotator -->
    <node pkg="tf" type="static_transform_publisher" name="laser_to_centerline" args="0.02221 0 0 0 0 1.57079632679 centerline_at_laser $(arg frame_id_laser) 10" />

    <!-- Static transoform from laser@centerline to rotator base -->
    <node pkg="tf" type="static_transform_publisher" name="laser_to_rotator" args="0 0 -0.32693 0 1.570796327 0 rotator_static_link centerline_at_laser 10" />

    <!-- Tranform from rotator_static_link to rotating linkage -->
    <node pkg="ferret" type="ferret_tf_broadcaster" name="ferret_tf_broadcaster" output="screen"/>

</launch>
