<launch>

	<!--include file="$(find pointgrey_camera_driver)/launch/camera.launch"/-->
	
	<include file="$(find sick_tim)/launch/sick_tim571_2050101.launch"/>

	<include file="$(find roboteq_driver)/launch/roboteq_radferret.launch"/>

	<node name="imu_to_odom" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /imu /odom 100" />

	<node name="map_to_imu" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /imu_stabilized 100" />

	<node name="radferret_assembly" pkg="laser_assembler" type="laser_scan_assembler">
		<param name="max_scans" type="int" value="40000" />
		<param name="fixed_frame" type="string" value="map"/>
	</node>

	<node name="imu_converter" pkg="hector_imu_attitude_to_tf" type="imu_attitude_to_tf_node">
		<param name="base_stabilized_frame" value="imu_stabilized"/>
		<param name="base_frame" value="imu"/>
		<remap from="/imu_topic" to="/imu/data"/>
	</node>

	<include file="$(find imu_complementary_filter)/launch/complementary_filter.launch"/>

	<include file="$(find xsens_driver)/launch/xsens_driver.launch"/>

	<node name="broadcast" pkg="radferret" type="radferret_tf_broadcaster"/>

</launch>
