<?xml version="1.0" ?>

<launch>

    <!-- Top level launch directory -->
    <arg name="launch_dir"          value="$(env FERRET_PATH)/launch"/>

    <!-- Logger configuration -->
    <arg name="log_state"           value="False"/>
    <arg name="log_dir"             value="$(env FERRET_LOG_DIR)"/>

    <!-- Topic Configuration -->
    <arg name="exec_start_topic"    value="/executive/start"/>
    <arg name="exec_resp_topic"     value="/executive/response"/>
    <arg name="exec_cmd_topic"      value="/executive/command"/>
    <arg name="status_topic"        value="/node/status"/>
    <arg name="pwm_set_topic"       value="/led_pwm"/>

    <!-- Port/IP Configuration -->
    <arg name="pointgrey_ip"        value="192.167.5.2"/>
    <arg name="sick_tim_ip"         value="192.168.4.2"/>
    <arg name="xsens_port"          value="/dev/xsens"/>
    <arg name="roboteq_port"        value="/dev/roboteq"/>
    <arg name="arduino_port"        value="/dev/arduinoMicro"/>

    <!-- Camera Configuration (dynamic reconfigure) -->
    <arg name="set_exposure"        value="True"/>
    <arg name="set_brigtness"       value="False"/>
    <arg name="set_gain"            value="False"/>
    <arg name="set_shutter"         value="False"/>
    <arg name="frame_rate"          value="7.0"/>

    <!-- Frame Configuration -->
    <arg name="sick_tim_frame_id"   value="laser"/>
    <arg name="imu_frame_id"        value="imu"/>

    <!-- Loop Rate Configuration -->
    <arg name="executive_rate"      value="10"/>
    <arg name="dyn_reconfig_rate"   value="20"/>

    <!-- Load in high level config file -->
    <rosparam command="load" file="$(find ferret_config)/params/ferret_config.yaml"/>

    <!-- Launch pointgrey base camera driver -->
    <include file="$(find pointgrey_camera_driver)/launch/camera.launch"/>

    <!-- Launch LED control node -->
    <node pkg="ferret" type="led_control_node" name="led_control_node" output="screen">
        <param name="pwm_set_topic"        value="$(arg pwm_set_topic)"/>
        <param name="port"                 value="$(arg arduino_port)"/>
    </node>

    <!-- Launch exposure dynamic reconfigure client server -->
    <node pkg="executive" type="cam_config.py" name="cam_config" output="screen">
        <param name="allow_set_exposure"   value="$(arg set_exposure)"/>
        <param name="allow_set_brightness" value="$(arg set_brigtness)"/>
        <param name="allow_set_gain"       value="$(arg set_gain)"/>
        <param name="allow_set_shutter"    value="$(arg set_shutter)"/>
        <param name="frame_rate"           value="$(arg frame_rate)"/>
        <param name="loop_rate"            value="$(arg dyn_reconfig_rate)"/>
    </node>

    <!-- Start the transform broadcasters -->
    <include file="$(arg launch_dir)/individual_launch/transforms.launch">
      <arg name="frame_id_imu"   value="$(arg imu_frame_id)"/>
      <arg name="frame_id_laser" value="$(arg sick_tim_frame_id)"/>
    </include>

    <!-- Launch roboteq motor control -->
    <include file="$(find roboteq_driver)/launch/roboteq_ferret.launch">
        <arg name="port"       value="$(arg roboteq_port)"/>
    </include>

    <!-- Launch SICK  -->
    <include file="$(arg launch_dir)/individual_launch/sick_tim571.launch">
        <arg name="ip"         value="$(arg sick_tim_ip)"/>
        <arg name="frame_id"   value="$(arg sick_tim_frame_id)"/>
    </include>

    <!-- Launch IMU -->
    <include file="$(find xsens_driver)/launch/xsens_driver.launch">
        <arg name="device"                value="$(arg xsens_port)"/>
        <arg name="baudrate"              value="115200"/>
        <arg name="timeout"               value="0.002"/>
        <arg name="frame_id"              value="$(arg imu_frame_id)"/>
        <arg name="frame_local"           value="ENU"/>
        <arg name="no_rotation_duration"  value="0"/>
    </include>

    <!-- Launch executive node -->
    <node name="executive_node" pkg="executive" type="executive_node" output="screen">
      <param name="logging_enabled"    value="$(arg log_state)"/>
      <param name="log_dir"            value="$(arg log_dir)"/>
      <param name="exec_rate"          value="$(arg executive_rate)"/>

      <param name="exec_resp_topic"    value="$(arg exec_resp_topic)"/>
      <param name="exec_cmd_topic"     value="$(arg exec_cmd_topic)"/>
      <param name="exec_start_topic"   value="$(arg exec_start_topic)"/>
      <param name="status_topic"       value="$(arg status_topic)"/>
    </node>

    <!-- Launch HDR image node -->
    <node name="hdr_node" pkg="executive" type="hdr_node" output="screen"/>

</launch>
